/* Contacto */

.contacto-title {
    font-weight: var(--font-weight-title);
}

.form-control {
    border-color: var(--primary);
    background-color: var(--light);
    border-radius: var(--border-radius);
}

select {
    border-color: var(--primary);
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--primary);
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.button-enviar {
    font-size: 1.3rem;
    font-weight: var(--font-weight-button);
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
}

.button-enviar:hover {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
}

button.swal2-confirm.swal2-styled {
    background-color: var(--secondary);
    color: var(--primary);
}

h2#swal2-title,
div#swal2-html-container {
    color: var(--primary);
}

.swal-custum-button {
    font-size: 1.3rem;
    font-weight: var(--font-weight-button);
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
    width: 4rem;
}

.swal-custom-icon {
    max-width: 7.5rem;
}

.no-border {
    border: 0;
}
