/* Proceso */

.proceso-title {
    font-weight: var(--font-weight-title);
}

.strong-timeline {
    font-size: 1.3em;
}

.p-timeline {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(
        to right,
        var(--secondary) 0%,
        var(--secondary) 100%
    );
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: var(--light);
}

.p-timeline:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 3px;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    line-height: 1.25em;
    color: var(--primary);
    font-size: 1.5em;
}

.p-timeline:nth-child(odd) {
    text-align: end;
    border-right: 3px solid;
    padding-left: 0;
}

.p-timeline:nth-child(odd):before {
    left: 100%;
    margin-left: -17px;
    background-color: var(--secondary);
    top: 35%;
}

.p-timeline:nth-child(even) {
    text-align: start;
    border-left: 3px solid;
    padding-right: 0;
}

.p-timeline:nth-child(even):before {
    right: 100%;
    margin-right: -16px;
    background-color: var(--secondary);
    top: 35%;
}

.p-timeline:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.p-timeline:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
