/* Servicios */

.servicios-title {
    font-weight: var(--font-weight-title);
}

.div-servicios {
    border: 1px solid #d9d9d9;
    margin-bottom: 5rem;
    padding: 0 0 0.5rem 0;
    min-height: 30rem;
}

.tab-servicios {
    height: 12rem;
    max-width: 75%;
    cursor: pointer;
    background-color: var(--grey);
}

.tab-servicios.active {
    background-color: var(--light);
}

.tab-servicios img {
    max-height: 5rem;
    max-width: 75%;
}

.servicio-traduccion,
.servicio-interpretacion,
.servicio-correccion-edicion,
.servicio-transcripcion {
    flex: auto;
    width: 100%;
}

/* SM */
@media screen and (width >= 576px) {
    /* Servicio - Traducción */
    .servicio-traduccion {
        max-width: 45%;
    }

    /* Servicio - Interpretación */
    .servicio-interpretacion {
        max-width: 45%;
    }

    /* Servicio - Corrección y edición */
    .servicio-correccion-edicion {
        max-width: 45%;
    }

    /* Servicio - Transcripción */
    .servicio-transcripcion {
        max-width: 32%;
    }
}

/* LG */
@media screen and (width >= 992px) {
    /* Servicio - Traducción */
    .text-servicio-traduccion {
        max-width: 35%;
    }

    .servicio-traduccion {
        max-width: 30%;
    }

    /* Servicio - Interpretación */
    .text-servicio-interpretacion {
        max-width: 35%;
    }

    .servicio-interpretacion {
        max-width: 30%;
    }

    /* Servicio - Corrección y edición */
    .servicio-correccion-edicion {
        max-width: 45%;
    }
}

/* XL */
@media screen and (width >= 1200px) {
    /* Servicio - Corrección y edición */
    .text-servicio-correccion-edicion {
        max-width: 100%;
    }

    .servicio-correccion-edicion {
        max-width: 24%;
    }

    /* Servicio - Transcripción */
    .text-servicio-transcripcion {
        max-width: 30%;
    }

    .servicio-transcripcion {
        max-width: 20%;
    }
}

/* XXL */
@media screen and (width >= 1400px) {
    /* Servicio - Corrección y edición */
    .text-servicio-correccion-edicion {
        max-width: 25%;
    }

    .servicio-correccion-edicion {
        max-width: 18%;
    }
}

.div-precio {
    border: 1px solid #d9d9d9;
    padding: 0.3rem 0.3rem;
}

.div-precio h4,
.div-precio h5,
.div-precio p {
    margin: 0;
}

/* LG */
@media screen and (width >= 992px) {
    .div-precio h4,
    .div-precio h5,
    .div-precio p {
        margin-bottom: 0.5rem;
    }
}

.div-precio p {
    margin-bottom: 0;
}

.div-precio .btn {
    font-weight: var(--font-weight-button);
    border-radius: var(--border-radius);
}

.div-descuento {
    border-radius: var(--border-radius);
    padding: 0.1rem 0.5rem;
    width: 100%;
}

@media screen and (width >= 800px) {
    .div-descuento {
        width: 75%;
    }
}

@media screen and (width >= 1250px) {
    .div-descuento {
        width: 50%;
    }
}

.div-descuento p {
    margin-bottom: 0;
    font-weight: var(--font-weight-title);
    font-size: 1.5rem;
}

.div-descuento img {
    max-width: 2rem;
}
