:root {
    --primary: #010e66;
    --secondary: #fdbf2e;
    --light: #f0f2f1;
}

body {
    color: var(--primary);
    background-color: var(--light);
}

.navbar-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.language-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
}
