:root {
    --primary: #010e66;
    --secondary: #fdbf2e;
    --light: #f0f2f1;
    --grey: #d9d9d9;

    --border-radius: 1rem;
    --font-weight-title: 700;
    --font-weight-button: 800;
}

/* Body */
body {
    color: var(--primary);
    background-color: var(--light);
}

/* Loader */
.loader {
    height: 100vh;
    width: 100%;
    background-color: var(--light);
    color: var(--primary);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: desaparecer 1.5s forwards;
}

@keyframes desaparecer {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

/* Navbar */
.navbar-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.language-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
}

.language-button:first-child:active,
.language-button.active {
    border-color: var(--light);
}

/* Nosotros */

.p-nosotros {
    font-size: 1.2rem;
}

/* Servicios */

.servicios-title {
    font-weight: var(--font-weight-title);
}

.div-servicios {
    border: 1px solid #d9d9d9;
    margin-bottom: 5rem;
    padding: 0 0 0.5rem 0;
    min-height: 30rem;
}

.tab-servicios {
    height: 17rem;
    max-width: 75%;
    cursor: pointer;
    background-color: var(--grey);
}

.tab-servicios.active {
    background-color: var(--light);
}

.tab-servicios img {
    height: 10rem;
    max-width: 75%;
}

.div-precio {
    border: 1px solid #d9d9d9;
    padding: 0.3rem 0.3rem;
}

.div-precio h4,
.div-precio h5,
.div-precio p {
    margin: 0;
}

@media screen and (width >= 992px) {
    .div-precio h4,
    .div-precio h5,
    .div-precio p {
        margin-bottom: 0.5rem;
    }
}

.servicio-correccion-edicion {
    min-width: none;
    min-height: none;
}

@media screen and (width >= 992px) {
    .servicio-correccion-edicion {
        min-width: 12rem;
        min-height: 11rem;
    }
}

@media screen and (width >= 1060px) {
    .servicio-correccion-edicion {
        min-width: 13rem;
        min-height: 1rem !important;
    }
}

@media screen and (width >= 992px) {
    .servicio-correccion-edicion {
        /* min-width: 14rem; */
    }
}

.div-precio p {
    margin-bottom: 0;
}

.div-precio button {
    font-weight: var(--font-weight-button);
    border-radius: var(--border-radius);
}

.div-descuento {
    border-radius: var(--border-radius);
    padding: 0.1rem 0.5rem;
    width: 100%;
}

@media screen and (width >= 800px) {
    .div-descuento {
        width: 75%;
    }
}

@media screen and (width >= 1250px) {
    .div-descuento {
        width: 50%;
    }
}

.div-descuento p {
    margin-bottom: 0;
    font-weight: var(--font-weight-title);
    font-size: 1.5rem;
}

.div-descuento img {
    max-width: 2rem;
}

/* Proceso */

.proceso-title {
    font-weight: var(--font-weight-title);
}

.strong-timeline {
    font-size: 1.3em;
}

.p-timeline {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(
        to right,
        var(--secondary) 0%,
        var(--secondary) 100%
    );
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: var(--light);
}

.p-timeline:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 3px;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    line-height: 1.25em;
    color: var(--primary);
    font-size: 1.5em;
}

.p-timeline:nth-child(odd) {
    text-align: end;
    border-right: 3px solid;
    padding-left: 0;
}

.p-timeline:nth-child(odd):before {
    left: 100%;
    margin-left: -17px;
    background-color: var(--secondary);
    top: 35%;
}

.p-timeline:nth-child(even) {
    text-align: start;
    border-left: 3px solid;
    padding-right: 0;
}

.p-timeline:nth-child(even):before {
    right: 100%;
    margin-right: -16px;
    background-color: var(--secondary);
    top: 35%;
}

.p-timeline:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.p-timeline:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Contacto */

.contacto-title {
    font-weight: var(--font-weight-title);
}

.form-control {
    border-color: var(--primary);
    background-color: var(--light);
    border-radius: var(--border-radius);
}

select {
    border-color: var(--primary);
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--primary);
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.button-enviar {
    font-size: 1.3rem;
    font-weight: var(--font-weight-button);
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
}

.button-enviar:hover {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
}

button.swal2-confirm.swal2-styled {
    background-color: var(--secondary);
    color: var(--primary);
}

h2#swal2-title,
div#swal2-html-container {
    color: var(--primary);
}

.swal-custum-button {
    font-size: 1.3rem;
    font-weight: var(--font-weight-button);
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--secondary);
    width: 4rem;
}

.swal-custom-icon {
    max-width: 7.5rem;
}

.no-border {
    border: 0;
  }

/* Footer */

.col-aux {
    height: 1rem;
}

.fa-brands {
    font-size: 1.5rem;
}

.p-footer {
    margin-bottom: 0;
}

.a-footer {
    text-decoration: none;
    /* color: #212529; */
    color: var(--secondary);
    color: white;
    /* background-color: #a8b8c8; */
    background-color: var(--primary);
}

a:link,
a:visited,
a:hover,
a:active {
    /* color: #212529; */
    color: var(--secondary);
    color: white;
}
